@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Ovo;
    font-weight: 400;
    src: url('./fonts/Ovo-Regular.ttf');
    font-display: swap;
  }
}

@layer components {
  html {
    @apply scroll-smooth scroll-pt-2 bg-light;
  }
  body {
    @apply bg-light;
  }
  header {
    @apply px-[6%] pt-[8%] bg-light md:px-[10%] md:py-[2%];
  }
  h1 {
    @apply text-6xl font-ovo font-bold;
  }
  h2 {
    @apply text-4xl font-ovo font-bold;
  }
  h3 {
    @apply text-xl font-ovo font-bold;
  }
  p {
    @apply text-base font-ovo;
  }
  span {
    @apply text-base font-ovo;
  }
  .btn {
    @apply inline-block relative shadow-btn mt-4 cursor-pointer text-base border-[3px] px-2 py-2 border-solid font-sans text-primary uppercase tracking-wide hover:text-primary hover:bg-secondary;
  }
  .divider {
    @apply w-[25%] h-[1px] mx-auto bg-primary;
  }
}

/*Custom styling*/

/*Hamburger styling*/
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background-color: rgb(186, 38, 92);
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
